<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="user2">
      <h2 data-cy="user2DetailsHeading"><span jhiTranslate="roleAndPermissionDemoApp.user2.detail.title">User 2</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ user2.id }}</span>
        </dd>
        <dt><span jhiTranslate="roleAndPermissionDemoApp.user2.name">Name</span></dt>
        <dd>
          <span>{{ user2.name }}</span>
        </dd>
        <dt><span jhiTranslate="roleAndPermissionDemoApp.user2.position">Position</span></dt>
        <dd>
          <span>{{ user2.position }}</span>
        </dd>
        <dt><span jhiTranslate="roleAndPermissionDemoApp.user2.role2">Role 2</span></dt>
        <dd>
          <span *ngFor="let role2 of user2.role2s; let last = last">
            <a [routerLink]="['/role-2', role2.id, 'view']">{{ role2.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-2', user2.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
